* {
    box-sizing: border-box;
}

body{
    background-color: slategrey;
}

.container {
    padding: 16px;
    border: 3px solid black;
}

input[type=text], 
textarea[type=text] {
    width: 30%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
